<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lphr.mapper.AreaMapper" >
  <resultMap id="BaseResultMap" type="com.lphr.entity.Area" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="sname" property="sname" jdbcType="VARCHAR" />
    <result column="itype" property="itype" jdbcType="TINYINT" />
    <result column="state" property="state" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="INTEGER" />
    <result column="flag_del" property="flagDel" jdbcType="TINYINT" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="flag_hot" property="flagHot" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, parent_id, sname, itype, state, create_time, create_user, update_time, update_user, 
    flag_del, memo, flag_hot
  </sql>
  <select id="selectByPrimaryKey0000" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_area
    where id = #{id,jdbcType=INTEGER}
  </select>
</mapper>